<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "M1x", suffix: " · Server Backend" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <.container max_width="full" class= "p-4 bg-indigo-900">
              <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <.button to={ Routes.live_dashboard_path(@conn, :home)} link_type="a" color="secondary" label="System Dashboard" />
            <% end %>
              <.button to= "/get_pbclass" link_type="a" color="secondary" label="Download Pb" />
              <.button to= "/matchingpool" link_type="a" color="secondary" label="MatchingPool" />
            <div class="absolute top-4 right-4 h-16 w-16 ...">   <.button to="/" link_type="live_redirect" color="primary" label="主页"/></div>
      </.container>
    </header>
      <%= @inner_content %>
      <footer class="bg-indigo-900 mt-auto py-3">
      <div class="container pb-4 max-w-4xl mx-auto text-center text-gray-300 text-sm">
        &copy; <%= DateTime.utc_now.year %> Illusion Colors
      </div>
    </footer>
  </body>
</html>
