<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Matr1x" %></h1>
  <section class="text-blue-500 text-center">
  <p x-data="{message: 'HELLO, IT WORKS!'}" x-text="message"> Doesn't work! </p>
  </section>
</section>


